/* Salmon Color pallette */

/* 
color:#a04f2c , dark red orange
color: #b96f3f, salmon red
color: #ceb679, light yellow
*/

/* universal styles */

* {
  color: #F0F7F4;
  padding: 10 px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: inherit;
}

/* body styles */

body, html {
  background-color: #221e21;
  /* background-color: #ceb679; */
  padding: 10px;
  height: 100%;
  box-sizing: none;
}

body {
  display: block;
 
}
header{
  /* display: flex; */
  display: flex;
  margin-bottom: 10px;
  border: 2px solid #ceb679;
  background-color: #32292F;
  padding: 10px;
  align-items: center;
}

header h1 {
  margin-left: 10px;
}

header img {
  width: 25vw;
  height: 8vw;
  margin-left: 4vw;
}


section {
  margin-bottom: 15px;
  border: 2px solid #ceb679;
  background-color: #32292F;
  padding: 5px;
  }

/* Hero style */

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/river.jpg');
  height: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  /* background-origin: content-box; */
  /* width: 70%; */
 
}

#hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80%;
  
}

#subtext {
  margin-top: 1vw;
}

#banner {
  font-size: 8vw;
}

#links a,h4 {
  margin-left:10px;
}

/* #links h4 {
  margin-left:10px;
} */

/* heading styles */

h1, h2, h4 {
  color: #b96f3f;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5px;
  
}

h1 {
  font-size: 4.5vw;
}

h2 {
  font-size: 3vw;
}

h4 {
  font-size: 2vw;
}

/* list styles */


ul {
  
  margin-left: 30px;
  font-size: 1 vw;
  list-style-type: square;
}

li {
  margin-bottom: 10px;
}

/* story section styles */

#story {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  height: 25%;
  padding: 10px;
  margin-bottom: 10px;
  /* overflow: auto; */
  position: relative;
  content: none;
  /* width: 99%; */
  /* flex-wrap: wrap; */
}

#story section {
  border: none;
}
/* 
#story-pics {
 
  background-image: url('../img/family.jpg');
  height:100%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 40%;
  /* flex: 1 1 0; */
  /* display: flex;
  background-color: transparent;
}
 */ 

#story img {
  max-width: 30%;
  min-width: 20%;
 
}

#story-text {
  margin-left: 10px;
  /* flex: 1.25 1 0; */
  align-self: center;
  background-color: transparent;
  min-width: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;

}

#story-text h2 {
margin-top: 15px;
  display: flex;
 /* flex: 2 1 0; */
}

#story-text p {
  font-size: 2vw;
  overflow: auto;
 
}

